 <section class="banner-home">
        <!-- Banner section Start-->
        <div class="side-logo">
                          <a href="/"><img src="/assets/images/recipe.png" alt="" height="auto" width="300"></a>
                </div>

        <!-- container Start-->
        <div class="container">
            <!--Row Start-->
            <div>
                <div id="user-recipe">
                    WELCOME TO HOMEPAGE
                    <p>Here are recipes submitted by your peers</p>
                    <div id="disp-recipe"></div>                    

                </div>
                
            </div>
            <!--Row Ended-->
        </div>
        <!-- container Ended-->
    </section>

    </div>
    <!-- Footer Links -->

    <!-- Footer -->
    <footer class="footers">
      <a href="/random"><button class="try"><i class="fas fa-question-circle"></i></button></a>
      <a href="/searchrecipe"><button class="try"><i class="fas fa-utensils"></i></button></a>
      <a href="/addrecipe"><button class="try"><i class="fas fa-pencil-alt"></i></button></a>
      <a href="/list"><button class="try"><i class="fas fa-list-ol"></i></button></a>
    </footer>