 <!-- Header section Start-->
    <header class="top">
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a class="active" href="index.html">Home</a>
            <a href="about.html">About</a>
            <a href="recipes.html">Recipes from Us</a>
            <a href="recipes.html">Recipes from You</a>
            <a href="form.html">Submit Your Own Recipe</a>
            <a href="list.html">Shopping List</a>
        </div>

        <nav id="navbar">
            <!-- container Start-->
            <div class="container">
                <!--Row Start-->
                <div class="row">
                    <div class="col-lg-4 col-xs-9">
                        <!-- <a href="index.html"><img src="images/logo.png" alt="logo"></a> -->
                    </div>
                    <div class="col-lg-8 col-xs-3">
                        <div class="social-icons square">
                            <!-- Page Content -->
                            <div id="page-content-wrapper">
                                <span class="slide-menu" onclick="openNav()"><i class="fa fa-bars" aria-hidden="true"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Row Ended-->
            </div>
            <!-- container Ended-->
        </nav>
    </header>
    <!-- Header section Ended-->
    <section class="banner-home">
        <!-- Banner section Start-->

        <!-- container Start-->
        <div class="container">
            <!--Row Start-->
            <div>
                <div class="name">
                        <img src="/assets/img/recipe.png" alt="" height="auto" width="800">
                </div>
                <div class = "button-area">
                    <div class="login-button">
                       <a href="/auth/google"><button class="sign-up">SIGN UP / LOG IN</button></a>
                    </div>
                    <div class="guest-button">
                        <a href="/index-guest/recipeAPI-guest"><button class="guest">CONTINUE AS GUEST</button></a>
                    </div>
                </div>
            </div>
            <!--Row Ended-->
        </div>
        <!-- container Ended-->
    </section>

    </div>
    <!-- Footer Links -->

    <!-- Footer -->
    {{!-- <footer class="footers">
      <button class="try"><i class="fas fa-bookmark"></i></button>
      <button class="try"><i class="fas fa-utensils"></i></button>
      <button class="try"><i class="fas fa-pencil-alt"></i></button>
      <button class="try"><i class="fas fa-list-ol"></i></button>
    </footer> --}}

