<section class="banner-home">

    
    <div class="container">
        <div>
            <div class="name">
                <img class="jumbotron" src="/assets/images/recipe.png" alt="" height="auto" width="800">
            </div>
            <div class="button-area">
                <div class="login-button">
                    <a href="/auth/google"><button class="sign-up">SIGN UP / LOG IN</button></a>
                </div>
                <div class="guest-button">
                    <a href="/home"><button class="guest">CONTINUE AS GUEST</button></a>
                </div>
            </div>
        </div>
    </div>
</section>