<section class="banner-home">
    <!-- Banner section Start-->
    <div class="container">

        <div class="side-logo">
            <a href="/"><img src="/assets/images/recipe.png" alt="" height="auto" width="300"></a>
        </div>
        <div id="add-recipe">
            <p id="shopping-list">SHOPPING LIST PAGE COMING SOON!</p>
        </div>


    </div>

    <!-- container Ended-->
</section>