 {{!-- <section class="banner-home">
        <!-- Banner section Start-->
        <div class="side-logo">
                        <a href="/"><img src="/assets/images/recipe.png" alt="" height="auto" width="300"></a>
                </div>

        <!-- container Start-->
        <div class="container">
            <!--Row Start-->
            <div>
                <div id="random-recipe">
                    <div class="random-title-div">
                   <p class="random-title">HERE IS YOUR TODAY'S MEAL</p>
                   </div>
                   <div class="random-button-area">
                   <button class="random-button">SEARCH</button>
                   </div>
                   <div class="random-info-area">
                    <div class="photo"></div>
                    <div class="label"></div>
                    <div class="ingredients"></div>
                    <div class="instruction"></div>
                    </div>
             
                </div>
                
            </div>
            <!--Row Ended-->
        </div>
        <!-- container Ended-->
    </section>

    </div>
    <!-- Footer Links -->

    <!-- Footer -->
    <footer class="footers">
      <a href="/random"><button class="try"><i class="fas fa-question-circle"></i></button></a>
      <a href="/showrecipe"><button class="try"><i class="fas fa-utensils"></i></button></a>
      <a href="/addrecipe"><button class="try"><i class="fas fa-pencil-alt"></i></button></a>
      <a href="/list"><button class="try"><i class="fas fa-list-ol"></i></button></a>
    </footer> --}}