
    <!-- Header section Ended-->
    <section class="banner-home">
        <!-- Banner section Start-->

        <!-- container Start-->
        <div class="container">
            <!--Row Start-->
            <div>
                <div class="side-logo">
                        <img src="/assets/img/recipe.png" alt="" height="auto" width="300">
                </div>

                <div id="search">


                </div>
            </div>
            <!--Row Ended-->
        </div>
        <!-- container Ended-->
    </section>

    </div>
    <!-- Footer Links -->

    <!-- Footer -->
  <footer class="footers">
      <a href="/random"><button class="try"><i class="fas fa-question-circle"></i></button></a>
      <a href="/showrecipe"><button class="try"><i class="fas fa-utensils"></i></button></a>
      <a href="/addrecipe"><button class="try"><i class="fas fa-pencil-alt"></i></button></a>
      <a href="/list"><button class="try"><i class="fas fa-list-ol"></i></button></a>
    </footer>

