    <header class="top">
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a class="active" href="index.html">Home</a>
            <a href="about.html">About</a>
            <a href="recipes.html">Recipes from Us</a>
            <a href="recipes.html">Recipes from You</a>
        </div>

        <nav id="navbar">
            <!-- container Start-->
            <div class="container">
                <!--Row Start-->
                <div class="row">
                    <div class="col-lg-4 col-xs-9">
                        <!-- <a href="index.html"><img src="images/logo.png" alt="logo"></a> -->
                    </div>
                    <div class="col-lg-8 col-xs-3">
                        <div class="social-icons square">
                            <!-- Page Content -->
                            <div id="page-content-wrapper">
                                <span class="slide-menu" onclick="openNav()"><i class="fa fa-bars" aria-hidden="true"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Row Ended-->
            </div>
            <!-- container Ended-->
        </nav>
    </header>
    <!-- Header section Ended-->
    <section class="banner-home">
        <!-- Banner section Start-->

        <!-- container Start-->
        <div class="container">
            <!--Row Start-->
            <div>
                 <div class="name">
                        <a href="/"><img class="image-side" src="/assets/img/recipe.png" alt="" height="auto" width="300"></a> 
                </div>
                <div class="heading-div-recipe">
                    <h1 class="heading-index-guest">WRITE YOUR RECIPE</h1>
                </div>
                <div class="shopping-list-div">
                    {{form}}
                </div>
            </div>
            <!--Row Ended-->
        </div>
        <!-- container Ended-->
    </section>

    </div>
    <!-- Footer Links -->

    <!-- Footer -->
  <footer class="footers">
        <a href="/index-login/recipeAPI"><button class="try"><i class="fas fa-bookmark"></i></button></a>
        <a href="/index-login/recipeDB"><button class="try"><i class="fas fa-utensils"></i></button></a>
        <a href="/index-login/recipe-input"><button class="try"><i class="fas fa-pencil-alt"></i></button></a>
        <a href="/index-login/shopping-list"><button class="try"><i class="fas fa-list-ol"></i></button></a>
    </footer>