 <section class="banner-home">
        <!-- Banner section Start-->
        <div class="side-logo side-logo-show">
                        <a href="/"><img src="/assets/images/recipe.png" alt="" height="auto" width="300"></a>
                </div>
                <div class="input-area">
        <input type="text" id="textInput">
        <input id="inputButton" type="submit" value="click me!">
                </div>
        <!-- container Start-->
        <div class="containershow">
            <!--Row Start-->
            <div class="show">

                </div>
                
            </div>
            <!--Row Ended-->
        </div>
        <!-- container Ended-->
    </section>

    </div>
    <!-- Footer Links -->

    <!-- Footer -->
    <footer class="footers">
      <a href="/random"><button class="try"><i class="fas fa-question-circle"></i></button></a>
      <a href="/showrecipe"><button class="try"><i class="fas fa-utensils"></i></button></a>
      <a href="/addrecipe"><button class="try"><i class="fas fa-pencil-alt"></i></button></a>
      <a href="/list"><button class="try"><i class="fas fa-list-ol"></i></button></a>
    </footer>