<section class="banner-home">
    <div class="container">
        <!-- Banner section Start-->
        <div class="side-logo side-logo-show">
            <a href="/"><img src="/assets/images/recipe.png" alt="" height="auto" width="300"></a>
        </div>
        <div class="input-area">
            <input type="text" id="textInput">
            <input id="inputButton" type="submit" value="Search Recipe">
        </div>
        <!-- container Start-->

        <!--Row Start-->
        <div class="show">

        </div>

        <!--Row Ended-->
    </div>
    <!-- container Ended-->
</section>