<section class="banner-home">
    <div class="container">
        <!-- Banner section Start-->
        <div class="side-logo">
            <a href="/"><img src="/assets/images/recipe.png" alt="" height="auto" width="300"></a>
        </div>

        <div id="add-recipe">
            <div class="input-area">
                <input type="text" id="textInput">
                <input class="add-recipe" type="submit" value="Search Recipe">
            </div>
            <!-- container Start-->

            <!--Row Start-->
            <div class="show">

            </div>
        </div>

        <!--Row Ended-->
    </div>
    <!-- container Ended-->
</section>