<body>

    <!-- Header section Start-->
    <header class="top">
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a class="active" href="index.html">Home</a>
            <a href="about.html">About</a>
            <a href="recipes.html">Recipes from Us</a>
            <a href="recipes.html">Recipes from You</a>
            <a href="form.html">Submit Your Own Recipe</a>
            <a href="list.html">Shopping List</a>
        </div>

        <nav id="navbar">
            <!-- container Start-->
            <div class="container">
                <!--Row Start-->
                <div class="row">
                    <div class="col-lg-4 col-xs-9">
                        <!-- <a href="index.html"><img src="images/logo.png" alt="logo"></a> -->
                    </div>
                    <div class="col-lg-8 col-xs-3">
                        <div class="social-icons square">
                            <!-- Page Content -->
                            <div id="page-content-wrapper">
                                <span class="slide-menu" onclick="openNav()"><i class="fa fa-bars" aria-hidden="true"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Row Ended-->
            </div>
            <!-- container Ended-->
        </nav>
    </header>
    <!-- Header section Ended-->
    <section class="banner-home">
        <!-- Banner section Start-->

        <!-- container Start-->
        <div class="container">
            <!--Row Start-->
            <div>
                <div class="name">
                        <img src="../feast-master 2/images/recipe.png" alt="" height="auto" width="800">
                </div>
                <div class = "button-area">
                    <div class="login-button">
                        <button class="sign-up">SIGN UP / LOG IN</button>
                    </div>
                    <div class="guest-button">
                        <button class="guest">CONTINUE AS GUEST</button>
                    </div>
                </div>
            </div>
            <!--Row Ended-->
        </div>
        <!-- container Ended-->
    </section>

    </div>
    <!-- Footer Links -->

    <!-- Footer -->
    <footer class="footers">
      <button class="try"><i class="fas fa-bookmark"></i></button>
      <button class="try"><i class="fas fa-utensils"></i></button>
      <button class="try"><i class="fas fa-pencil-alt"></i></button>
      <button class="try"><i class="fas fa-list-ol"></i></button>
    </footer>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.js"></script>
    <!-- Custom JavaScript -->
    <script src="js/animate.js"></script>
    <script src="js/custom.js"></script>
    <script>
        $(document).on('click', '[data-toggle="lightbox"]', function (event) {
            event.preventDefault();
            $(this).ekkoLightbox();
        });
    </script>
</body>